[submodule "deps/libkrun"]
	path = deps/libkrun
	url = https://github.com/zeroqn/libkrun.git
	branch = cang
[submodule "deps/libkrunfw"]
	path = deps/libkrunfw
	url = https://github.com/zeroqn/libkrunfw.git
	branch = cang
[submodule "deps/rutabaga_gfx"]
	path = deps/rutabaga_gfx
	url = https://github.com/zeroqn/rutabaga_gfx.git
	branch = cang
